:root {
    --background: #F5F7FB;
    --purple: #4D5B9E;
    --dark-purple: #293264;
    --button-green: #74d7a2,
    --button-red: #F8BCBC
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

body {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start-page {
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
    margin: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quizzical-title {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 62px;
    text-align: center;
    margin-bottom: 0;
    margin-top: -10vh;
    color: var(--dark-purple);
}

.start-description {
    font-family: 'Karla';
    font-style: light;
    font-weight: 500;
    font-size: 30px;
    line-height: 0px;
    text-align: center;
    color: var(--dark-purple);
}

.start-btn {
    width: 300px;
    height: 100px;
    background: var(--purple);
    border-radius: 25px;
    border: none;
    font-family: 'Karla';
    font-style: light;
    font-weight: 500;
    font-size: 30px;
    margin-top: 25px;
    padding-bottom: 4px;
    color: var(--background);
}

.whole-box {
    margin-top: 20px;
}

.question {
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: 'Karla';
    font-size: 19px;
    font-weight: 700;
    color: var(--dark-purple)
}

.question-box {
    height: 800px;
    width: 800px;
    padding-left: 30px;
    padding-right: 30px;
    -webkit-box-shadow:inset 5pxpx 5pxpx 2pxpx 3pxpx #BFBFBF;
    box-shadow:inset 5pxpx 5pxpx 2pxpx 3pxpx #BFBFBF;
}

hr {
    border-top: 1px solid #dbdef0;
    margin: 11px 0 26px 0;
}

.answers-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.option {
    min-width: 80px;
    margin-right: 20px;
    margin-bottom: 12px;
    height: 30px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 11px;
    font-family: 'Karla';
    font-size: 16px;
    font-weight: 500;
    color: var(--dark-purple);
    padding-bottom: 2px;
}

.check-ans {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.score-class {
    font-family: 'Karla';
    font-size: 18px;
    font-weight: 700;
    color: var(--dark-purple);
}

.game-btns {
    font-family: 'Karla';
    font-size: 16px;
    font-weight: 500;
    background-color: var(--purple);
    padding: 0 28px;
    border: none;
    color: var(--background);
}
.check {
    height: 50px;
    border-radius: 14px;
}
.again {
    height: 38px;
    border-radius: 10px;
    margin-left: 30px;
}

.blue-blob {
    position: absolute;
    left: 100px;
    bottom: 80px;
    z-index: -1;
    width: 500px;
}

.yellow-blob {
    position: absolute;
    left: 1500px;
    bottom: 500px;
    z-index: -1;
    width: 500px;
}

.error-message {
    font-family: 'Karla';
    font-size: 17px;
    font-weight: 500;
    color: var(--dark-purple);
    margin-top: 20px;
}